@charset "utf-8";
/* CSS Document */

#paginainicio
{background:#CCF}
#titulo
{background:#C9F; color:#FFF}
#pienombre
{background:#F99; color:#FFF}
#introduccion
{color:#339; size:3; text-align:justify; background:#CFC; width:98%; margin:1%}
#historia
{background:#C9F; color:#FFF}
#integrantess
{background:#6CF; color:#FFF}
#horan
{background:#F98; color:#FFF}
#styles
{background:#F9F; color:#FFF}
#tomlinson
{background:#9FC; color:#FFF}
#payne
{background:#FF9; color:#FFF}
#discografia
{color:#9FF; color:#FFF}
#takeme
{color:#3FC; color:#FFF}
#upall
{color:#9FC; color:#FFF}
#midm
{color:#FCF; color:#FFF}
#fou
{color:#CFF; color:#FFF}
#allalb
{color:#FFC; color:#FFF}
#int
{color:#CF9; color:#FFF}
#malik
{color:#9FC color:#FFF}
